<% if defined?(@tweets) %>
  <div class="tweets">
    <% @tweets.each do |mash| %>
      <div class="tweet">
        <img width="48" height="48" src="<%= (mash.user || mash).profile_image_url %>">
        <p><%= mash.text %></p>
      </div>
    <% end %>
  </div>
<% end %>

