<h2>Latest tweets matching "<%=h @search.phrase %>"</h2>

<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <li class="tweet">
      <%= link_to h(tweet.user), "http://twitter.com/#{tweet.user}" %>
      <%= tweet.text %>
    </li>
  <% end %>
</ul>

