<% form_tag({:action => 'login'}, :id => 'loginForm') do %>
  <div class="form-row">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div class="form-row">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div class="form-row">
    <input type="submit" value="Log in">
  </div>
<% end %>

